@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import 'package:grid/grid';


html {
  overflow-y: scroll;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

material-input {
  width: 100% !important;
}

div.col {
  border: 1px solid black;
}