@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import 'package:grid/grid';
@import 'package:grid/theme';
@import 'package:fo_components/theme';
@import 'package:bokain_models/colors';
@include foColorAlert($colorAlert);
@include foColorConfirm(#348bc0);
@include colorAlert($colorAlert);
@include colorConfirm(#348bc0);
@include color1(#348bc0);
@include color2(#ccc);
//@include color3(#ccc);


@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?xf6dd5');
    src: url('fonts/icomoon.eot?xf6dd5#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?xf6dd5') format('truetype'), url('fonts/icomoon.woff?xf6dd5') format('woff'), url('fonts/icomoon.svg?xf6dd5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block; // Make icons take up space even if they haven't loaded
}

html {
    overflow-y: scroll; 
    margin: 0;
    font-weight: lighter;
    body {
        margin: 0;
    }
}

* {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;    
}

h1.large {
    font-size: 3em;
}

h2.large {
    font-size: 2em;
}

material-input {
    display: block !important;
    width: 100% !important;
}